*{
    position: relative;
    color: #333;
}

body{
    background-color: #dadada;
}

.container{
    padding-top: 20px;
    margin: 0px auto;
    width: 80%;
}

.progress-container{
    display: inline-block;
    width: 33%;
    border: 1px solid #dadada;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.6);
    box-sizing: border-box;
    padding: 20px 10px 10px 10px;
    background-color: #fafafa;
}

input{
    padding: 5px 15px;
}

progress{
    margin-top: 20px;
    display: block;
    max-width: 100%;
    width: 100%;
    height: 30px;
}
